body{
    background-color: rgb(237, 253, 253);
}

.bigpart{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: auto;
    text-align: center;
    grid-template-areas: "image" "text";
    grid-gap: 30px;

    
}
.part1-container{
    text-align: center;
    grid-area: image ;
    background-size: cover;
    height: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.part2-container{
    text-align: center;
    background-color: rgb(237, 253, 253);
    height: 550px;
    margin-left: 30px;
    margin-right: 30px;
    
}
.part2-container h2{
    text-align: center;
    margin-top: 20px ;
    margin-bottom: 20px;
    font-size: 30px;
}
.part2-container ul{
    text-align: left;
    margin: 20px 5px;
    font-size: 22px;
}

.part2-container p{
    text-align: left;
    margin: 20px 10px;
    font-size: 22px;


}
.info-container{
    
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    grid-template-areas: "name" "memberspic";
    grid-gap: 50px;
    padding:100px 100px;
}

.name-container blockquote{
    text-align: center;
    width: 100%;
    margin: 10px 15px;
    font-size: 20px;
}
.name-container h4{
    text-align: center;
    width: 100%;
    margin: 15px 10px;
    font-size: 30px;
}
.card-container{
    text-align: center;
    display:flex;
    grid-template-areas: "pic" "membername";
    grid-template-columns: auto;
    grid-template-rows: 10px 10px;
    flex-wrap: wrap ;
    justify-content:center;
    align-items: center;
    margin: 10px 15px;
}
.card{
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 2px 10px ;
    flex-grow: 5;
    border-spacing: 5px;
}
.card-container p{
    margin-top: 5px;
}
strong{
    font-size: 30px;
}
.next-page{
    text-align: center;
    width: 100%;
    margin: 15px 10px;
    font-size: 15px;
}

 