body{
    background-color: rgb(237, 253, 253);
    padding: 0px 250px;
   
}
.container{
    background-color: rgb(171, 229, 243);
    height: 100%;
    padding: 5px 10px;
    
}
.container1{
    background-color: rgb(171, 229, 243);
    height: 100%;
    margin: 0 auto;
    padding: 5px 10px;

    
}

.icon-container{
    border-spacing: 2px;
    text-align: center;
    display:flex;
    grid-template-areas: "icon" "name";
    grid-template-columns: auto;
    grid-template-rows: 10px 10px;
    flex-wrap: wrap ;
    justify-content:center;
    align-items: center;
    margin: 10px 15px;

}
table , td , th{
    border: 1px solid black;
}
td{
    text-align: center;
}
.members{
    text-align: center;
}
.title{
    text-align: center;
    margin-top: 20px ;
    margin-bottom: 20px ;
    color: cornflowerblue;
}
hr{
    border-color: rgb(0, 0, 0); 
}
table{
    text-align: center;
    margin: 20px 20%;
}
.facts{
    text-align: center;
}
.fandom-name{
    margin-left: 5px;
}
.fandom-name h3{
    color: cornflowerblue;
}
#rem{
    color: rgb(107, 106, 106);
    font-size: 12px;
    margin-top: 0px;
}
.twitter{
    background-color: rgb(220, 246, 250);
    padding: 5px 15px;
    margin: 5px 15px;
}
.facebook{
    background-color: rgb(231, 228, 250);
    padding: 5px 15px;
    margin: 5px 15px;
}
.youtube{
    background-color: rgb(252, 231, 224);
    padding: 5px 15px;
    margin: 5px 15px;
}
.instagram{
    background-color: rgb(253, 240, 224);
    padding: 5px 15px;
    margin: 5px 15px;
}
.company{
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    margin: 5px 15px;
}
.daum{
    background-color: rgb(247, 208, 208);
    padding: 5px 15px;
    margin: 5px 15px;
}
.link{
    text-align: center;
    color: white;
}
.icon{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    

    

}
.icon i{
    text-align: center;
    size:20px;
}
h3{
    color: cornflowerblue;;
}
a{
    color: black;
}
